@import 'reset.css';
@import 'process.css';

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  padding: 10px 20px;
  color: #020202;
  font-family: 'open Sans', sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header__title {
  justify-content: left;
  margin-top: 20px;
  margin-left: 20px;
}
.header__share-list {
  justify-content: right;
  margin-top: 20px;
  margin-right: 20px;
}
